<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<title>Library</title>
</head>
<body>
	
	<h1>Movie library</h1>

	<br>

	<form action="signout" method="POST">
		<button >Sign out</button>
	</form>

	<hr>

	<a href = "ratatouille"><img src="https://resizing.flixster.com/ySiX7RlyKRuuxCcAI7SgdkMAZ0U=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzc4ZmJhZjZiLTEzNWMtNDIwOC1hYzU1LTgwZjE3ZjQzNTdiNy5qcGc="></a>
</body>
</html>