<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<title>Black Panther</title>
</head>
<body class="page">

	<div class="topnav">
	  <a href="/">Home</a>
	  <a href="/static/library" class="active">Movies</a>
  	  <a href="/static/watchlist">Watchlist</a>
	  {%if session["user"] == None%}
	  	<a href="login" id="login">Log In</a>
	  	<a href="signup" id="signup">Sign Up</a>
	  {%else%}
		<a href="/static/signout" id="signout">Log Out</a>
  	  {%endif%}
	</div>

	<h1 style="color: white;">Black Panther</h1>

	<iframe width="1080" height="520" src="https://www.youtube.com/embed/xjDjIWPwcPU" title="Marvel Studios&#39; Black Panther - Official Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

	{%if Excist == False%}
	<form method="POST" action="/movie/BlackPanther">
		<button type="submit" class="button-24 fav">Add to Watchlist</button>
	</form>
	{%else%}
	<form method="POST" action="/movie/BlackPanther">
		<button type="submit" class="button-24 fav">Remove from Watchlist</button>
	</form>
	{%endif%}

</body>
</html>