<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<title>Guardians of the galaxy 2</title>
</head>
<body style="text-align: center; background-color: black;">

	<div class="topnav">
	  <a href="/">Home</a>
	  <a href="/static/library" class="active">Movies</a>
  	  <a href="/static/watchlist">Watchlist</a>
	  {%if session["user"] == None%}
	  	<a href="login" id="login">Log In</a>
	  	<a href="signup" id="signup">Sign Up</a>
	  {%else%}
		<a href="/static/signout" id="signout">Log Out</a>
  	  {%endif%}
	</div>

	<h1 style="color: white;">Guardians of the galaxy 2</h1>

	<iframe width="1280" height="720" src="https://www.youtube.com/embed/wUn05hdkhjM" title="Guardians of the Galaxy Vol. 2 - Trailer 3 (Official)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

	{%if Excist == False%}
	<form method="POST" action="/movie/GOTG2">
		<button type="submit">Add to Watchlist</button>
	</form>
	{%else%}
	<form method="POST" action="/movie/GOTG2">
		<button type="submit">Remove from Watchlist</button>
	</form>
	{%endif%}

</body>
</html>