br {
   display: block; /* makes it have a width */
   content: ""; /* clears default height */
   margin-top: 10px; /* change this to whatever height you want it */
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page{
  text-align: center;
  background-color: #202020;
}

.topnav {
  overflow: hidden;
  background-color: rgb(255, 57, 57);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ddd;
  color: black;
}

#login{
   float: right;
}

#signup{
   float: right;
}

#signout{
   float: right;
}

#HomeTitle{
  font-size: 100px;
}

#Welcome{
  font-size: 40px;
  margin-top: 100px;
}



.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: white;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

.Registration{
  margin-top: 150px;
}

.Titlelib{
  color: white; 
  text-align:center;
  font-size: 80px;
}

.Sign{
  color: white; 
  font-size: 40px;
}

.fav{
  margin-top: 30px;
}

.img{
  margin-right: 40px;
  margin-left: 40px;
}
