<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
</head>
<body>

	<h1>Home</h1>

	<p>Hello user: {{session["user"]["email"]}}</p>

	<br>

	<form action="/home" method="POST">
		<input type="text" placeholder="Quote" name="quote">

		<br>
		<br>

		<input type="text" placeholder="Name" name="quote_name">

		<br>
		<br>

		<button type="submit">Submit</button>
	</form>
	


	<br>
	<br>

	<button> <a href="/signout">Sign Out</a></button>

</body>
</html>