<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="Sign Up" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>

	<h1>Sign Up</h1>

	<form action="/" method="POST">
		
		<input type="email" name="email" placeholder="Email" required>

		<br>
		<br>

		<input type="password" name="password" placeholder="Password" required>

		<br>
		<br>

		<button type="submit">Submit</button>

		<p>Already have an account? <a href="signin">Sign In</a></p>

	</form>

</body>
</html>